@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/** variables **/
$bg-color: #a8e5eb;
$color1: lighten($bg-color, 5%);
$color2: darken($bg-color, 20%);
$text-color: #000;

/** mixins **/
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: 'Source Sans Pro', serif;
}

.header {
  width: 100%;
  text-align: center;
}

a {
  color: $text-color;
}

.samplesPanel {
  position: relative;
  top: 50px;
  left: 100px;
}

#settingsPanel {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
}
.content {
  width: 80%;
  margin: auto;

  .buttonSpace {
    display: inline-block;
    width: 110px;
    text-align: center;

    .sampleButton {
      margin: auto;
      display: block;
      width: 80px;
      height: 80px;
      background-color: $color2;
      border: none;
      margin-bottom: 20px;
    }
  }

  input.sampleLength, input.samplePosition {
    width: 50px;
  }
}

.bottomPanel {
  position: relative;
  top: 200px;
  left: 100px;
}

