@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import "range.scss";

/** variables **/
$bg-color: #e7eb85;
$color1: lighten($bg-color, 5%);
$color2: darken($bg-color, 20%);
$text-color: #000;

/** mixins **/
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: 'Source Sans Pro', serif;
}

.header {
  width: 100%;
  text-align: center;
}

a {
  color: $text-color;
}

#settingsPanel {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
}
.content {
  width: 50%;
  margin: auto;

  .buttonSpace {
    display: inline-block;
    text-align: center;

    .sampleButton {
      margin: auto;
      display: block;
      width: 180px;
      height: 180px;
      background-color: $color2;
      border: none;
      margin-bottom: 20px;
    }
  }

  input.sampleLength, input.samplePosition {
    width: 50px;
  }
}

.bottomPanel {
  position: relative;
  top: 200px;
  left: 100px;
}

.samplePositionSlider {
  margin: auto;
  width: 100%;
  height: 10px;
}

.duration, .position {
  width: 50px;
}

